.custom-purple-blue-gradient {
  background-image: linear-gradient(to right, #16016C, #4A16BD); /* Adjust colors as needed */
  }

  .coaching-text {
    color: #4BE5CA; /* Example color (red) */
  }
  
  
  .saira-txt{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size:x-small
  } 
  .rowdies-light {
    font-family: "Rowdies", Arial;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .custom-image {
    width: 300px;
    padding-right: 0px;
   
  }

  .form-style {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
  }
  