.page{
  background-color: #F7F7F8;
  height: 100vh;
  width: 100%;
}
.student-card {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-width: 55vw;
    max-height: 40vh;
    min-width: 55vw;
    min-height: 40vh;
  }
  

  
  
  .heading{
    /* border: 10px black solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading .welcome {
    /* border: 2px solid purple; */
    width: 20vw;
    font-family: 'Vietnam Pro', sans-serif; /* Fallback to sans-serif if 'Vietnam Pro' is not available */
    font-size: 38px;
    letter-spacing: -0.05em; /* Using em units; adjust as needed */
  font-weight: 800;


    
  }

  .heading .user-profile
  {
    font-family: 'Vietnam Pro', sans-serif; /* Fallback to sans-serif if 'Vietnam Pro' is not available */
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin-top: 10vh;
    
  }

  .student-card-space{
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
  }

  .student-card-space .student-card{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
  }
  
  .student-card-space .student-card .profile-section{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    border-right: 1px dashed #96BDF7;
    

  }
  .student-card-space .student-card .user-info{
    /* border: 1px solid green; */
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;

  }

  .student-card-space .student-card .profile-section .profile-pic{
    width: 70%; /* Adjust as needed */
    height: 70%; /* Adjust as needed */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10%;
    padding-bottom: 10%; */
  }
  .student-card-space .student-card .profile-section .profile-pic .profile-picture{
    border-radius: 50%;
    height: 80%;
    width: 100%;
    margin-top: 20%;
    /* border: 1px solid green; */
  }
  .student-card-space .student-card .profile-section .change-pic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid purple; */
    width: 70%; /* Adjust as needed */
    height: 30%; 
  }
  .change-pic-button input{
    margin-bottom: 3%;
  }
  
  .studentName{
    /* border: 1px solid red; */
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* margin-bottom: 1em; */
    
  }
  .info{
    /* border: 1px solid purple; */
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 5%;
    padding-left: 1%;
    font-size: 21px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:normal;
    

  }
  .edit-button{
    /* border: 1px solid yellowgreen; */
    height: 25%;
   
  }

  .studentName .name{
    margin-top: 5%;
    margin-left: 1%;
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    /* margin-bottom: 0.5%; */

  }

  .studentName .role{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight:lighter;
    /* border: 1px solid red; */
  }

  
  /* .change-picture-btn { */
    /* Add styles for the button */
  /* } */
  
  /* .user-info h2 { */
    /* Add styles for the dashboard welcome message */
  /* } */
  
  .user-details { 
    /* Add styles for the user details section */
    /* border: 10px solid black; */
    width: 80%;
    height: 100%;
  }
  .info > div {
    margin-bottom: 0.3vw;
  }
  
  /* .user-details h3 { */
    /* Add styles for the user profile section header */
  /* } */
  
  /* .edit-btn { */
    /* Add styles for the edit button */
  /* } */

  .edit-button{
    /* border: 1px solid red; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  




  .space{
    margin-right: 0.5em;
  }